#LeftSidePanel {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 50px;
  width: 320px;
  overflow-y: auto;

  .header {
    position: sticky;
    display: flex;

    top: 0px;
    min-height: 40px;
    background-color: var(--accent0);
    color: var(--accent0-fg);
    border-right: 3px solid var(--accent0-dark);
    z-index: 99999;
    padding-top: 5px;
    padding-right: 40px;

    button {
      border: 0px;
      width: 32px;
      height: 32px;
      margin: 0px 9px;
      color: inherit;
      border-radius: 5px;
      text-align: center;
      padding: 4px;
      transition: all 0.3s;
      cursor: pointer;
      background-color: transparent;

      svg {
        padding: 2px 0px;
        width: 80%;
      }

      &:hover,
      &:focus {
        background-color: var(--info);
        color: var(--info-fg);
        z-index: 9999;
      }
    }

    .pin {
      position: absolute;
      right: 0px;
    }



  }

  .content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-top: 40px;
    padding-bottom: 100px;
    overflow-y: auto;

  }
}