/**
 * Root CSS
 * 
 * This file contains the root css for the application
 * Keep the variables and the BASIC structural css here
 * 
 */
:root {
  --bg1: #373737;
  --bg2: #3b3b3b;
  --bg3: #2d2d2d;
  --fg: #fff;
  --fontsize: 14px;
}

.colorbtn{
  display: inline-block;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin:4px;
  cursor: pointer;
  outline: 2px solid #fff
}

.colorbtn:hover{
  background-color: #33333333;
}

.cardcolor0 {
  background-color: #fff; /* Light Yellow */
  border: 1px solid #ccc;
  color: black; /* Best contrast */
}

.cardcolor1 {
  background-color: #fdfd96; /* Light Yellow */
  border: 1px solid #f0e68c;
  color: black; /* Best contrast */
}
.cardcolor2 {
  background-color: #ffb6c1; /* Light Pink */
  border: 1px solid #ff69b4;
  color: black; /* Best contrast */
}
.cardcolor3 {
  background-color: #add8e6; /* Light Blue */
  border: 1px solid #87ceeb;
  color: black; /* Best contrast */
}
.cardcolor4 {
  background-color: #90ee90; /* Light Green */
  border: 1px solid #32cd32;
  color: black; /* Best contrast */
}
.cardcolor5 {
  background-color: #ffa07a; /* Light Salmon */
  border: 1px solid #fa8072;
  color: black; /* Best contrast */
}
.cardcolor6 {
  background-color: #dda0dd; /* Plum */
  border: 1px solid #ba55d3;
  color: black; /* Best contrast */
}