@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('root.css');
@import url('toolbars.css'); 

input[type="text"] {
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    width: 100%;
    border: 0;
    outline: none;
    font-size: inherit;
    background: none;
    color: currentColor;
    text-align: inherit;
    line-height: normal;
}

