@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('root.css');
@import url('darktheme.css');

.mainwindow{
  top:40px !important
}

.hero{
  background-color: var(--accent1);
  color: var(--accent1-fg);
  margin:10px;
  padding: 20px;
  border-radius: 10px;
}
.inputstyle {
    font-family: 'Quicksand', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    width: 100%;
    border: 0;
    outline: none;
    font-size: inherit;
    background: none;
    color: currentColor;
    text-align: inherit;
    line-height: normal;
    resize: none;
    height: 40px;
}

  .toptoolbarbutton{
    border: 0px;
    width: 32px;
    height: 32px;
    margin: 0px 4px;
    background-color: var(--bg3);
    color: var(--bg3-fg);
    border-radius: 5px;
    text-align: center;
    padding: 4px;
    transition: all 0.3s;
    cursor: pointer;
    svg {
      padding: 2px 0px;
      width: 80%;
    }
    &:hover,
    &:focus {
      background-color: var(--info);
      color: var(--info-fg);
      transform: scale(1.2);
      z-index: 9999;
    }
  }

