@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
  background-color: #373737;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}